.git
.gitignore
node_modules
npm-debug.log*
*.log


# Build outputs
dist
build

# IDE
.vscode
.idea
*.swp

# OS
.DS_Store
Thumbs.db

# Documentación
*.md
!README.md

# Archivos de prueba
certificado-estudiante.pdf
certificado-estudiante2.pdf

# Prisma
prisma/migrations
